<div class="row card">
	<div class="row">
		{{#if this.categories.trash}}
		<div class="{{ this.categories.itemDOMColumns }} columns trash">
			<div class="img-container">
				<img src="/images/trash.png">
			</div>
			{{#each this.residues}}
			{{#compare category "trash"}}
			<div class="detail-item row">
				<img src="{{canvas}}" alt="residue">
				<div class="item modal container">
					<div class="three columns">
						<div class="row">
							<button class="close-modal">X</button>
						</div>
						<div class="row">
							<img class="residue-img" src="{{canvas}}" alt="residue">
						</div>
					</div>
					<div class="nine columns">
						<div class="row main">
							<div class="two columns">
								<div class="img-container">
									<img src="/images/trash.png">
								</div>
							</div>
							<div class="ten columns">
								<p class="category">Déchets</p>
								<p class="name">{{displayName}}</p>
							</div>

						</div>
						{{#if notes}}
						<div class="row notes">
							{{#each notes}}
							<p>{{this}}</p>
							{{/each}}
						</div>
						{{/if}}
						{{#if warning}}
						<div class="row warnings">
							{{#each warning}}
							<p>{{this}}</p>
							{{/each}}
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			{{/compare}}
			{{/each}}
		</div>
		{{/if}}
		{{#if this.categories.compost}}
		<div class="{{ this.categories.itemDOMColumns }} columns compost">
			<div class="img-container">
				<img src="/images/compost.png">
			</div>
			{{#each this.residues}}
			{{#compare category "compost"}}
			<div class="detail-item row">
				<img src="{{canvas}}" alt="residue">
				<div class="item modal">
					<button>exist</button>
					<p>{{displayName}}</p>
					<p>{{category}}</p>
					{{#each notes}}
					<p>{{this}}</p>
					{{/each}}
					{{#each warning}}
					<p>{{this}}</p>
					{{/each}}
				</div>
			</div>
			{{/compare}}
			{{/each}}
		</div>
		{{/if}}
		{{#if this.categories.paper}}
		<div class="{{ this.categories.itemDOMColumns }} columns paper">
			<div class="img-container">
				<img src="/images/paper.png">
			</div>
			{{#each this.residues}}
			{{#compare category "paper"}}
			<div class="detail-item row">
				<img src="{{canvas}}" alt="residue">
				<div class="item modal">
					<button>exist</button>
					<p>{{displayName}}</p>
					<p>{{category}}</p>
					{{#each notes}}
					<p>{{this}}</p>
					{{/each}}
					{{#each warning}}
					<p>{{this}}</p>
					{{/each}}
				</div>
			</div>
			{{/compare}}
			{{/each}}
		</div>
		{{/if}}
		{{#if this.categories.metal}}
		<div class="{{ this.categories.itemDOMColumns }} columns metal">
			<div class="img-container">
				<img src="/images/paper.png">
			</div>
			{{#each this.residues}}
			{{#compare category "metal"}}
			<div class="detail-item row">
				<img src="{{canvas}}" alt="residue">
				<div class="item modal">
					<button>exist</button>
					<p>{{displayName}}</p>
					<p>{{category}}</p>
					{{#each notes}}
					<p>{{this}}</p>
					{{/each}}
					{{#each warning}}
					<p>{{this}}</p>
					{{/each}}
				</div>
			</div>
			{{/compare}}
			{{/each}}
		</div>
		{{/if}}
	</div>
</div>
