<div class="row card">
	<div class="row">
		{{#if this.poubelle}}
		<div class="{{ this.itemDOMColumns }} columns trash">
			<div class="img-container">
				<img src="/images/trash.png">
			</div>
			<div class="amount">
				<p>{{ this.poubelle }}</p>
			</div>
		</div>
		{{/if}}
		{{#if this.composte}}
		<div class="{{ this.itemDOMColumns }} columns compost">
			<div class="img-container">
				<img src="/images/compost.png">
			</div>
			<div class="amount">
				<p>{{ this.composte }}</p>
			</div>
		</div>
		{{/if}}
		{{#if this.recyclable}}
		<div class="{{ this.itemDOMColumns }} columns paper">
			<div class="img-container">
				<img src="/images/paper.png">
			</div>
			<div class="amount">
				<p>{{ this.recyclable }}</p>
			</div>
		</div>
		{{/if}}
		{{#if this.metal}}
		<div class="{{ this.itemDOMColumns }} columns metal">
			<div class="img-container">
				<img src="/images/paper.png">
			</div>
			<div class="amount">
				<p>{{ this.metal }}</p>
			</div>
		</div>
		{{/if}}
	</div>
	<div class="row warning">
	<h5>Attention : {{ this.warnings }}</h5>
	</div>
	<div class="row details">
		<p id="moreDetailsButton">Obtenir plus de détails</p>
	</div>
</div>
